/* ---------------------------------------- Стилизация cтраницы ПОРТФОЛИО ---------------------------------------- */
.projects-section {
   text-align: center;

   // ------ projects-section__title
   &__title {
      text-align: center;

      margin-top: 0;
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.16;

      color: $secondary-text-color;
   }
}



.filter-list {
   margin-top: 0;

   // до 767 только телефон
   @media screen and (max-width: 767px) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 15px;
      column-gap: 8px;
      margin-bottom: 40px;
   }


   // от 768 планшет и комп
   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 8px;

   }

   // от 768 до 1199 только планшет 
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
   }

   // от 1200 только пк 
   @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
   }



   // ----- filter-list__btn
   &__btn {
      padding: 6px 22px;

      cursor: pointer;

      font-family: $main-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.03em;

      color: $secondary-text-color;
      background-color: $secondary-background-color;
      border-radius: 4px;
      border: 0;

      transition: background-color 250ms $timing-function,
         color 250ms $timing-function,
         box-shadow 250ms $timing-function,
         border-radius 250ms $timing-function;

      &:hover,
      &:focus {
         color: $white-text-color;
         background-color: $accent-color;
         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
         border-radius: 4px;
      }

   }

}