@import "./utils/vars";
@import "./base/baseStyles";
@import "./сomponents/header";
@import "./сomponents/studio/hero";
@import "./сomponents/studio/modal";
@import "./сomponents/studio/advantages";
@import "./сomponents/studio/services";
@import "./сomponents/studio/team";
@import "./сomponents/studio/clients";
@import "./сomponents/footer";
@import "./сomponents/portfolio/filter";
@import "./сomponents/portfolio/projects";