/*---------------- Стилизация раздела преимуществ ----------------*/
.advantages-section {

   @media screen and (min-width: 1200px) {
      padding-bottom: 0;
   }



   // ------ advantages-section__title
   &__title {
      margin-top: 0;
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.16;
      text-align: center;

      color: $secondary-text-color;
   }
}



.advantages-list {

   margin-top: 0;
   margin-bottom: 0;

   @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
   }



   // -------- advantages-list__item
   &__item {

      // сделать через калк
      @media screen and (min-width: 1200px) {
         width: calc((100% - 120px) / 4);
         margin: 15px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         width: calc((100% - 60px) / 2);
         margin: 15px;
      }
   }

   // -------- advantages-list__item:not(:last-child)
   &__item:not(:last-child) {

      @media screen and (max-width: 767px) {
         margin-bottom: 30px;
      }

   }

   // -------- advantages-list__box
   &__box {
      width: 100%;
      height: 120px;
      margin-bottom: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $secondary-background-color;

   }

   // -------- advantages-list__title
   &__title {
      margin-top: 0;
      margin-bottom: 10px;

      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;

      color: $secondary-text-color;

      @media screen and (max-width: 767px) {
         text-align: center;
      }
   }


   // ---------- advantages-list__text
   &__text {
      margin-top: 0;
      margin-bottom: 0;

      color: $main-text-color;
   }


}