/*---------------- Стилизация раздела Hero ----------------*/
.hero {
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;

   text-align: center;
   background-color: $footer-background-color;
   background-image: linear-gradient(to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
      url('../images/bgimg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;



   // ----------- hero__title
   &__title {
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 696px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      color: $white-text-color;
   }

   // ------------- hero__btn
   &__btn {

      padding: 10px 32px;
      min-width: 200px;
      text-align: center;

      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      border: 1px solid transparent;
      border-radius: 4px;

      color: $white-text-color;
      background-color: $accent-color;

      cursor: pointer;

   }


}