/*---------------- Стилизация раздела c командой ----------------*/
.team-section {
   background-color: $secondary-background-color;


   // ------ team-section__title
   &__title {
      text-align: center;

      margin-top: 0;


      color: $secondary-text-color;

      @media screen and (max-width: 1199px) {
         margin-bottom: 30px;

         font-size: 28px;
         line-height: 1.18;

      }

      @media screen and (min-width: 1200px) {

         margin-bottom: 50px;

         font-size: 36px;
         line-height: 1.16;
      }

   }
}



.team-list {

   @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
   }


   // ------- team-list__item
   &__item {
      background-color: $white-background-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;


      @media screen and (min-width: 768px) and (max-width: 1199px) {
         width: calc((100% - 60px) / 2);
         margin: 15px;
      }

      @media screen and (min-width: 1200px) {
         width: calc((100% - 120px) / 4);
         margin: 15px;
      }
   }

   // ------- team-list__item:not(:last-child)
   &__item:not(:last-child) {

      @media screen and (max-width: 767px) {
         margin-bottom: 30px;
      }
   }

   // ------- team-list__description
   &__description {
      padding-top: 30px;


      @media screen and (max-width: 1199px) {
         padding-bottom: 24px;
      }

      @media screen and (min-width: 1200px) {
         padding-bottom: 30px;
      }

   }


   // -------- team-list__title
   &__title {
      margin-top: 0;
      margin-bottom: 10px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;

      color: $secondary-text-color;
   }

   // -------- team-list__text
   &__text {
      margin-top: 0;
      margin-bottom: 16px;

      font-size: 16px;
      line-height: 1.18;
      text-align: center;

      color: $main-text-color;
   }

}


.social-icon__list {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;

   padding: 0;

}

.social-icon__item:not(:last-child) {
   margin-right: 10px;
}

.social-icon__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;


   margin-left: auto;
   margin-right: auto;

   fill: $icon-color;
   transition: background-color 250ms $timing-function,
      fill 250ms $timing-function;

   &:hover,
   &:focus {
      fill: $white-text-color;
      background-color: $accent-color;
   }

}