/* ------------------------------- Стилизация хедера ------------------------------- */

.header-page {
   position: relative;
   border-bottom: 1px solid $border-color;
}

.nav-container {

   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px;
}


/*---------------- Стилизация логотипа ---------------- */
.logo-general__accent {
   text-decoration: none;
   font-family: $second-font;
   font-weight: 700;


   color: $accent-color;


   // от 1200 только пк
   @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.38;
   }

   // до 1199 телефон и планшет
   @media screen and (max-width: 1199px) {
      font-size: 24px;
      line-height: 1.37;
   }


}

.logo-general__inversion {
   // font-family: $second-font;
   // font-weight: 700;
   // font-size: 26px;
   // line-height: 1.38;
}

.logo--black {
   text-decoration: none;

   color: $logo-color;
}

.logo--white {
   display: inline-block;
   margin-bottom: 20px;

   color: $white-text-color;
}


/*---------------- Стилизация моб меню ----------------*/
.menu-container {
   display: none;


   position: absolute;
   top: 100%; // или стояло 0 у меня
   left: 0;
   width: 100%;
   background-color: aquamarine;
   padding: 20px;
   font-size: 40px;

   &.is-open {
      display: block;
   }

}

/*---------------- Стилизация кнопки меню ----------------*/

.menu-btn {
   position: relative;
   display: inline-flex;
   margin: 0;
   padding: 0;
   border: 0;
   background-color: transparent;
}

.menu-btn .icon-close {
   display: none;
}

.menu-btn.is-open .icon-close {
   display: block;
}

.menu-btn.is-open .icon-menu {
   display: none;
}

.icon-close {
   position: absolute;
   z-index: 1;
}





/*---------------- Стилизация менюшки ----------------*/

.nav-list {
   // display: flex;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 93px;

   // -------  nav-list__item

   &__item:not(:last-child) {
      margin-right: 50px;
   }

   // -------  nav-list__link
   &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $secondary-text-color;

      transition: color 250ms $timing-function;

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }

   // ------- nav-list__link--active
   &__link--active {
      position: relative;
      color: $accent-color;

      &::after {


         // от 768 планшет и комп
         @media screen and (min-width: 768px) {
            content: '';

            position: absolute;
            left: 0;
            bottom: -1px;

            display: inline-block;
            width: 100%;
            height: 4px;

            border-radius: 2px;

            background-color: $accent-color;
         }

      }
   }
}

/*---------------- Стилизация контактов в хедере ----------------*/

.contacts-list {
   // display: flex;

   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;

   // ---------- contacts-list__item
   &__item:not(:last-child) {
      margin-right: 50px;
   }

   // ------------ ontacts-list__link
   &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $main-text-color;
      fill: $main-text-color;

      transition: color 250ms $timing-function, fill 250ms $timing-function;

      &:hover,
      &:focus {
         color: $accent-color;
         fill: $accent-color;
      }
   }

   // ------------ contacts-list__icon
   &__icon {
      margin-right: 10px;

      // до 767 только телефон
      @media screen and (max-width: 767px) {
         display: none;
      }
   }
}