/*---------------- Стилизация логотипа ---------------- */
.logo-general__accent {
   text-decoration: none;
   font-family: $second-font;
   font-weight: 700;


   color: $accent-color;

   @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.38;
   }

   @media screen and (max-width: 1199px) {
      font-size: 24px;
      line-height: 1.37;
   }


}

.logo-general__inversion {
   // font-family: $second-font;
   // font-weight: 700;
   // font-size: 26px;
   // line-height: 1.38;
}

.logo--black {
   text-decoration: none;

   color: $logo-color;
}

.logo--white {
   display: inline-block;
   margin-bottom: 20px;

   color: $white-text-color;
}