/*---------------- Стилизация логотипа ---------------- */
.logo-general__accent {
   text-decoration: none;
   font-family: $second-font;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;

   color: $accent-color;
}

.logo-general__inversion {
   font-family: $second-font;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
}

.logo--black {
   text-decoration: none;

   color: $logo-color;
}

.logo--white {
   display: inline-block;
   margin-bottom: 20px;

   color: $white-text-color;
}