/* ------------------------------- Общая стилизация ------------------------------- */
body {
   font-family: $main-font;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   background-color: $white-background-color;
   color: $main-text-color;
}

body.modal-open {
   overflow: hidden;
}

img {
   display: block;
   height: auto;
   width: 100%;
}

.list {
   padding: 0;
   margin: 0;
   list-style: none;

}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;


   // до 767 только телефон
   @media screen and (max-width: 767px) {
      max-width: 480px;
   }


   // от 768 до 1199 только планшет
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 768px;
   }


   // от 1200 только пк
   @media screen and (min-width: 1200px) {
      width: 1200px;
   }
}

.section {

   // до 1199 телефон и планшет
   @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
   }


   // от 1200 только пк
   @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }

}

/* ------------------------------- скрытие ------------------------------- */
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}